.bookhome {

    &__information-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem 4rem;

        .bookhome__title-wrapper {
            text-align: left;

        .bookhome__title {
            margin-bottom: 0px;
        }

        .bookhome__author {

        }
        }
    

    .bookhome__button-wrapper {

    .bookhome__button--add-page {
        margin-right: 1rem;
    }

    .bookhome__button--save-book {

    }
    }
}

    &__pages-wrapper {
        margin: 0rem 3.4375rem 0rem 3.4375rem;

        .pagepreview {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            &__song-title {
                font-size: 1.125rem;
                margin-right: 2rem;
                width: 15.625rem;
                overflow: hidden;
            }
            &__song-artist {
                font-size: 0.875rem;
                width: 9.375rem;
                overflow: hidden;
            }
            &__page-number {
                font-size: 1.125rem;
                margin-right: 1.5rem;
            }
            &__edit-button {
                margin-left: 3rem;
            }
            &__complete {
                width: 1rem;
                height: auto;
                margin-right: 1rem;

            }
            &__incomplete {
                width: 1rem;
                height: auto;
                margin-right: 1rem;
            }
        }
    }
}

.icon {
    width: 1rem;
    height: auto;
    margin: 0rem 1rem 0.25rem 0.5rem;
}