.pageeditor {
    margin: 2rem 3.4375rem 1rem 3.4375rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__editor-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        max-width: 54.25rem;
        border: 1px solid grey;


        .pageeditor__album-wrapper {
            background-color: black;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;

            .pageeditor__album-art {
                width: 54%;
                height: auto;
                border: 3px solid white;
                margin: 3rem 0rem;
            }
        }

        .pageeditor__form {
            height: unset;
            width: 100%;
            background-color:#f6f6f6;
            
            .pageeditor--text-wrapper {
                margin: 2rem 2rem 1rem 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #fff;
            
                .pageeditor__icon-wrapper {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    width: 80%;

                .pageeditor__song-title {
                    // no styles
                }
                }
                .pageeditor__artist-album-wrapper {
                    display: flex;
                    align-items: center;
                    width: 80%;
            
                
                .pageeditor__artist-title {
                    width: 50%;
                    text-align: left;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                }
            
                .pageeditor__artist-album {
                    width: 50%;
                    font-size: 1rem;
                    font-weight: bold;
                    text-align: left;
                    margin-bottom: 17.5px;
                    color: black;
                }
            }
        
                .pageeditor__thoughts {
                    width: 85%;
                    height: 17.1875rem;
                    resize: none;
                    border: 1px dotted grey;
                    margin-bottom: 1rem;
                }
            }

            .pageeditor__submit {
                margin-bottom: 1rem;
            }
        }
    }
    .pageeditor__disclaimer {
        font-size: 0.875rem;
        margin-top: 1.5rem;
    }
}

.pageeditor__icon {
    margin: 0rem 1rem 17.5px 0rem;
    width: 1.5rem;
    height: auto;
}