.pageeditor {
    margin: 2rem 3.4375rem 1rem 3.4375rem;
    border: 1px solid grey;

    &__editor-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

        .pageeditor__album-wrapper {
            background-color: black;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;

            .pageeditor__album-art {
                width: 54%;
                height: auto;
                border: 3px solid white;
                margin: 3rem 0rem;
            }
        }

        .pageeditor__form {
            height: unset;
            
            

            .pageeditor__submit {
                margin-bottom: 1rem;
            }
        }
    }
}

.pageeditor--text-wrapper {
    margin: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pageeditor__song-title {
        
    }

    .pageeditor__artist-album-wrapper {
        display: flex;


    
    .pageeditor__artist-title {
        margin-right: 3rem;
    }

    .pageeditor__artist-album {

    }
}

    .pageeditor__thoughts {
        width: 80%;
        height: 500px;
    }
}