.splash {

    &__content-header {

        .splash__title {

        }
        .splash__form {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .splash__form__input {
            border-radius: 5px;
        }
    }

    &__user-books-wrapper {

        .bookpreview__wrapper {
            margin: 3rem 2rem 1rem 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;

            .bookpreview__icon {
                margin-right: 1rem;
                width: 1rem;
                height: auto;
            }

            .bookpreview__title {

            }
            .bookpreview__pages {

            }
            .bookpreview__edit-button {

            }
        }
    }
}